@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - aspnet</title>
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/footerStyle.css">
    <script src="~/js/navbar.js"></script>
</head>
<body>

    <div id="wrapperMain">
        <div id="navbar">
            <a id="logo" href="/">[T]</a>
            <a href="/login"><button class="buttonNavbar">LOGIN</button></a>
            <a href="/register"><button class="buttonNavbar">REGISTER</button></a>
            <a href="/api"><button class="buttonNavbar">API</button></a>
           <!-- <a href="/trivia/scoreboard"><button class="buttonNavbar">SCORE</button></a> -->
           <a href="/logout"><button class="buttonNavbar">LOGOUT</button></a>

            <!-- @{string name = Context.Session.GetString("username"); @Html.Raw($"/user/{name}");} -->

            <a href="/user/test"><button class="buttonNavbar">
                @{
                    if (Context.Session.GetString("username") != null)
                    {
                        @Context.Session.GetString("username");
                    }
                    else
                    {
                        @Html.Raw("Guest");
                    }
                }
            </button></a>

            <button id="sandwich" onclick="toggle()">MORE</button>
        </div>

        <div id="navbarMiniWrap">
            <div id="iNeedThisWrapBecauseIcouldNotSetBackGroundColorOtherWiseSmileyFace"">
                <div id="navbarMini">
                    <a href="/login"><button class="miniNavButt">LOGIN</button></a>
                    <a href="/register"><button class="miniNavButt">REGISTER</button></a>
                    <a href="/api"><button class="miniNavButt">API</button></a>
                   <!-- <a href="/trivia/scoreboard"><button class="miniNavButt">SCORE</button></a> -->
                    <a href="/logout"><button class="miniNavButt">LOGOUT</button></a>
                </div>
            </div>
        </div>

        <div id="wrapper">

            @RenderBody()

        </div>

    </div>

    <div class="footer">
        <img src="~/images/githubWhite.png" alt="githubLogo" id="githubLogo">
        <a href="https://github.com/vojjtar" id="githubLink" target="_new">@Html.Raw("@")vojjtar</a>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>